variable "asm_gateways_namespace" {
    type = string
    default = "$ASM_GATEWAYS_NAMESPACE"
}

variable "asm_label" {
    type = string
    default = "$ASM_LABEL"
}

variable "gke1_kubeconfig" {
    type = string
    default = "$GKE1_KUBECONFIG"
}

variable "gke2_kubeconfig" {
    type = string
    default = "$GKE2_KUBECONFIG"
}